.confirm {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000008c;
    z-index: 361;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.confirm .dialog {
  background-color: white;
  min-width: 350px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.confirm .description {
  flex: 2;
  text-align: center;
  padding: 12px;
  max-width: 100%;
}
.confirm .title {
  text-align: center;
  margin-top: 30px;
}
.confirm .messageBox-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}
.confirm .mbButton {
  width: 120px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
}
.confirm.dark > *{
  color: white;
  background-color: #1e1e1e;
}