@import './leaderBoard.scss';
@import './main.scss';
@import "./twExtended.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1E1E1E;
}

#stub {
  color: #fff;
  font-size: 10vw;
  text-transform: uppercase;
}
