@import './leaderBoard.scss';
@import "./font-awesome.min.css";
@import "./input.scss";
@import './main.scss';
@import "./twExtended.css";
@import "./calc.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --background-color: #1E1E1E;
  --background-color-header: #363636;
  --danger-color: #e00000;
  --success-color: #4BB543;
  --text-color: #fff;
  --text-color-hover: #cacaca;
  --border-color: #aaa;
  --input-border-focus-color: #1e90ff;
  --input-border-focus-invalid-color: var(--danger-color);
}

#__next,
html,
body {
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
  font-family: Calibri;
  touch-action: none;
}

#__next {
  display: flex;
  color: var(--text-color);
  background-color: var(--background-color);
}

#stub {
  color: var(--text-color);
  font-size: 10vw;
  text-transform: uppercase;
}
