.content {
    flex-direction:  column-reverse;
}

.gameContent {
    margin: calc(var(--game-padding, 20) * 1vh) calc(var(--game-padding, 20) * 1vw);
}

@media screen and (min-width: 576px) {
    .content {
        flex-direction: column;
    }

    .gameContent {
        margin: 25px;
    }
}
