.content {
    flex-direction:  column-reverse;
}

.gameContent {
    padding: 70px;
}

@media screen and (min-width: 576px) {
    .content {
        flex-direction: column;
    }

    .gameContent {
        padding: 25px;
    }
}
