.previewer {
    color: var(--text-color);
    font-size: 10vw;
    font-family: "Times New Roman";
    text-transform: uppercase;
    letter-spacing: 0px;
    transition: letter-spacing 800ms;
}

.wide {
    letter-spacing: 8px;
}

.footer {
    font-weight: bold;
    font-family: "ArchivoBlack";
}
