.preview {
    width: calc(1px * var(--game-items-width) * var(--item-size) + 2px);
    height: calc(1px * var(--game-items-height) * var(--item-size) + 2px);
    border: 1px solid var(--text-color);
    pointer-events: none;
    top: 8px;
    left: 8px;
    background-color: #0000005e;
}

@media screen and (min-width: 576px) {
    .wrapper {
        position: relative;
    }
}
